@model List<EmployeePortalSystem.ViewModels.DepartmentViewModel>

@{
    ViewData["Title"] = "Department";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<div class="container">
    <div class="page-contents">

      

        <div class="container_emp mb-20">
            <div class="emp_btn">
                <div class="left_btn">
                    <form method="get" asp-action="DashboardAdmin" asp-controller="UserAccess">
                        <button type="submit" class="create_emp_btn">Back</button>
                    </form>
                </div>
                <div class="right_btn">
                    <form method="get" asp-action="Create" asp-controller="Departments">
                        <button type="submit" class="create_emp_btn">Add Department</button>
                    </form>
                </div>
            </div>
            <div class="emp_head">
                <h2>Department List</h2>
            </div>



            <div class="empmaster_card">
                <div class="table-responsive">
                    <table class="emp_table table">
                        <thead>
                            <tr>
                               
                                <th>Department ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Head Name</th>
                                <th>Parent Department</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dept in Model)
                            {
                                <tr>
                                    
                                    <td>@dept.DepartmentId</td>
                                    <td>@dept.Name</td>
                                    <td>@dept.Description</td>
                                    <td>@dept.HeadName</td>
                                    <td>@dept.ParentDepartmentName</td>
                                    <td>
                                        <span style="display: flex; gap: 20px;">
                                        <a href="@Url.Action("Edit", "Departments", new { id = dept.DepartmentId })" title="Edit">
                                            <img src="~/img/edit Icon.png" width="20" height="20" />
                                        </a>
                                        <a href="@Url.Action("Delete", "Departments", new { id = dept.DepartmentId })" title="Delete">
                                            <img src="~/img/trash-xmark (1).png" width="20" height="20" />
                                        </a>
                                        </span>
                                    </td>

                                </tr>
                            }   
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
