@{
    Layout = null;
    var name = Context.Session.GetString("EmployeeName");
    var designation = Context.Session.GetString("Designation");
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard</title>

    <!-- Fonts and Styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
</head>
<body>
    <header>
        <div class="nav_background">
            <div class="container">
                <div class="nav_emp">
                    <div class="logo">
                        <a href="#"><img src="~/img/ai_2.png" /></a>
                    </div>
                    <div class="nav_right">
                        <div class="profile">
                            <a href="#" class="profile-image"><img src="~/img/Profile Avatar.png" /></a>
                            <div class="user_info">
                                <h6>@name</h6>
                                <p>@designation</p>
                                <span id="username_display"></span>
                               
                            </div>
                        </div>
                        <div class="logout-icon">
                            <a href="@Url.Action("Login", "UserAccess")"><img class="logout" src="~/img/Logout Icon.png" height="25px"></a>
                        </div>
                        <div class="mobile-menu">
                            <img class="mobile-menu-icon" src="~/img/list_12713145.png" height="25px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menubar_background">


            <div class="menubar_container">
                <label class="open-btn" id="openSidebar">☰</label>


                <ul class="menubar_emp">

                    <li class="menu_item"><a href="@Url.Action("DashboardAdmin", "UserAccess")">Dashboard</a></li>
                    <li class="menu_item"><a href="@Url.Action("Index","Departments")">Departments</a></li>
                    <li class="menu_item"><a href="#">Announcements</a></li>
                    <li class="menu_item"><a href="@Url.Action("Index", "Award")">Awards</a></li>
                    <li class="menu_item"><a href="@Url.Action("Index", "SupportTicket")">Help</a></li>

                    
                </ul>

                @{
                    var currentDashboard = HttpContextAccessor.HttpContext.Session.GetString("CurrentDashboard");
                }
                @if (HttpContextAccessor.HttpContext.Session.GetString("IsAdmin") == "True")
                {
                    

                    if (currentDashboard == "Employee")
                    {
                        <form method="post" asp-action="SwitchToAdmin" asp-controller="UserAccess">
                            <button type="submit" class="switch-button">Switch to Admin</button>
                        </form>
                    }
                    else if (currentDashboard == "Admin")
                    {
                        <form method="post" asp-action="SwitchToEmployee" asp-controller="UserAccess">
                            <button type="submit" class="switch-button">Switch to Employee</button>
                        </form>
                    }
                }   
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" class="sidebar">
            
            <ul class="sidebar_menu">
                <li><a href="#">My Profile</a></li>


                <li><a href="@Url.Action("EmployeeDetails", "Employee")">Employee</a></li>

                <li><a href="#">Blogs</a></li>
                <li><a href="#">Polls</a></li>
                <li><a href="#">Announcements</a></li>
                <li><a href="#">Departments</a></li>
                <li><a href="#">Committee</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Logout</a></li>

            </ul>
        </div>
        <script>
            const sidebar = document.getElementById('sidebar');
            const openBtn = document.getElementById('openSidebar');

            openBtn.addEventListener('click', function (e) {
                e.stopPropagation(); // prevent event from bubbling up
                sidebar.classList.toggle('open');
            });

            sidebar.addEventListener('click', function (e) {
                e.stopPropagation(); // prevent closing when clicking inside sidebar
            });

            document.addEventListener('click', function (e) {
                sidebar.classList.remove('open');
            });

        </script>
    </header>

   

    <main>
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="back_footer">
            <p>©2023 SMRT. All Rights Reserved | Developed by Alnsurtech</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.emp_table').DataTable({
                responsive: true
            });

        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
