@{
    ViewData["Title"] = "Awards";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}
@model EmployeePortalSystem.ViewModels.AwardViewModel

<div class="container">
    <div class="emp_btn">
        <div class="left_btn">
            <form method="get" asp-action="DashboardEmployee" asp-controller="UserAccess">
                <button type="submit" class="create_emp_btn">Back</button>
            </form>
        </div>

    </div>
    <div class="emp_head1">
        <h2>Employee Awards</h2>
    </div>

    @if (Model.AwardList != null && Model.AwardList.Any())
    {
        foreach (var award in Model.AwardList)
        {
            <div class="blog-card">
                <div class="blog-card-content">
                    <div class="blog-card-text">

                        <div class="award-logo">
                            <!-- Recipient Photo -->
                            @if (!string.IsNullOrEmpty(award.RecipientPhoto))
                            {
                                <img src="~/uploads/@award.RecipientPhoto" class="blog-float-image" alt="Recipient Photo" />
                            }
                            else
                            {
                                <img src="~/img/avatar_11852100.png" class="blog-float-image" alt="Profile image" />
                            }
                        </div>
                        <!-- Award Type -->
                        <h3 class="blog-title">@award.Type</h3>

                        <!-- Award Details -->
                        <p class="blog-description">
                            @award.Description<br /><br />
                            <strong>Event Date:</strong> @award.EventDate?.ToString("dd MMM yyyy")<br />
                            <strong>Recipient:</strong> @award.RecipientName<br />
                            <strong>Given By:</strong> @award.GivenBy<br />
                           
                        </p>

                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No awards to display.</p>
    }
</div>
