
@{
	ViewData["Title"] = "Create Committee";
	Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}
@model EmployeePortalSystem.ViewModels.CommitteeViewModel




<div class="container">
    <div class="page-contents">

        <div class="container_emp">
            <div class="emp_btn">
                <div class="left_btn">
                    <form method="get" asp-action="CommitteeDetails" asp-controller="Committee" >
                        <button type="submit" class="create_emp_btn">Back</button>
                    </form>
                </div>
            </div>
            <div class="emp_head">
                <h2>Add Committee</h2>
            </div>
        </div>

        <div class="container_emp mb-20">
            <div class="empmaster_card">
                <form asp-action="CreateCommittee" asp-controller="Committee" method="post" class="emp_form" enctype="multipart/form-data">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form_row">
                        <div class="form_group">
         
                            <label>Name<span class="imp_field">*</span></label>
                            <div class="val">
                                <input asp-for="Name" type="text" placeholder="Enter the Committee Name here" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form_group">
                            <label>Type<span class="imp_field">*</span></label>
                            <div class="val">
                                <select asp-for="Type" class="form-control">
                                    <option value="">-- Select Type --</option>
                                    <option value="CSR">CSR</option>
                                    <option value="Events">Events</option>
                                    <option value="Health">Health</option>
                                    <option value="Learning">Learning</option>
                                    <option value="Technology">Technology</option>
                                    <option value="Business">Business</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form_row">
                        <div class="form_group">
                            <label>HeadId<span class="imp_field">*</span></label>
                            <div class="val">
                                <input asp-for="HeadId" list="headList" class="form-control" placeholder="Select Head by Name or ID" />

                                @if (ViewBag.Employees is List<EmployeePortalSystem.Models.Employee> employees)
                                {
                                    <datalist id="headList">
                                        @foreach (var emp in employees)
                                        {
                                            <option value="@emp.EmployeeId">@emp.Name</option>
                                        }
                                    </datalist>
                                }

                                <span asp-validation-for="HeadId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form_group">
                            <label>Logo</label>
                            <div class="val">
                                <input asp-for="LogoFile" type="file" accept=".png,.jpg,.jpeg" class="form-control" />
                                <span asp-validation-for="LogoFile" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form_row">
                        <div class="form_group">
                            <label>Description</label>
                            <div class="val">
                                <input asp-for="Description" type="text" placeholder="Committee Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="form_row">
                        <button type="submit" class="custom-button">Save</button>
                        <button type="reset">Cancel</button>
                    </div>
                    @if (TempData["Message1"] != null)
                    {
                        <div class="alert-success">
                            @TempData["Message1"]
                        </div>
                    }
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">@TempData["Error"]</div>
                    }
                </form>
            </div>
        </div>



    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}